body {
    font-family: sans-serif;
    margin: 2rem;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}
  
  h1, h2 {
    margin-bottom: 1rem;
  }
  
  ul {
    list-style: disc;
    padding-left: 1.5rem;
  }
  